<div class="body">
  <i class='bx bx-chevron-right toggle' [ngClass]="{ 'close': toggleSideBar }" (click)="toggleMenu()"></i>
  <nav class="sidebar" [ngClass]="{ 'close': toggleSideBar }">
    <header>
      <div class="image-text">
        <span class="image">
          <!--<img src="logo.png" alt="">-->
        </span>

        <div class="text logo-text">
          <span class="name">Admin</span>
          <span class="profession">Develop</span>
        </div>
      </div>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <ul class="menu-links">
          <li class="nav-link" *ngFor="let item of menu">
            <a [routerLink]="item.route" [ngClass]="{ 'active': item.route === active?.route }" (click)="setTitle(item.title)">
              <i [ngClass]='item.icon'></i>
              <span class="text nav-text">{{ item.title }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
      </div>
    </div>

  </nav>
</div>

<section class="header-nav"  [ngClass]="{ 'header-nav-close': toggleSideBar }">
  <div class="text">{{ title }}</div>
</section>
